body{
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    font-size: 32px;
    font-weight: 800px;
    text-align: center;
    color: #ffff;
    background-color: #0A3200;
}


.cookies, .pizza, .pancakes{
    background-color: #A3C1AD;
    font-size: 22px;

}
